* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./Image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  margin-top: 10vh;
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
